.logIn-container {
  width: 1200px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 160px;
}

#login{
  margin: 0 auto;
  border: solid 1px;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 35px;
}

.input {
  font-size: 15px;
  margin-bottom: 13px;
  text-align: right;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 80px;
  margin-top: 25px;
  margin-bottom: 20px;
}